name: Deploy designers list
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Build
        run: yarn && yarn designers

      - name: Push
        run: |
          mkdir -p "$HOME/.ssh"
          echo "${{ secrets.SSH_GITHUB_DEPLOY_KEY }}" > "$HOME/.ssh/id_rsa"
          touch "$HOME/.ssh/known_hosts"

          chmod 700 "$HOME/.ssh"
          chmod 600 "$HOME/.ssh/id_rsa"
          chmod 600 "$HOME/.ssh/known_hosts"

          ssh-keyscan -t rsa github.com >> "$HOME/.ssh/known_hosts"

          eval $(ssh-agent -s)
          ssh-add "$HOME/.ssh/id_rsa"
          git config --global user.email "actions@users.noreply.github.com"
          git config --global user.name "ActionsBot"

          mkdir dist
          cp designers.json dist/designers.json
          cd dist
          git init
          git add designers.json
          git commit -m "Deploying ${GITHUB_SHA}"
          git remote add origin git@github.com:${GITHUB_REPOSITORY}.git
          git remote -v
          git push origin HEAD:designers --force
